.container {
    width: 343px;
    height: 70px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input {
    height: 44px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid;
    outline: none;
  }
  
  .helperTextContainer {
    width: 343px; /* Fill width */
    height: 16px; /* Hug height */
    gap: 8px; /* Gap (not needed for single child) */
    opacity: 1; /* Set to visible */
  }
  